.playground {
  display: grid;
  grid-gap: 20px;

  &[data-columns="2"] {
    grid-template-columns: repeat(2, 1fr);
  }

  &[data-columns="3"] {
    grid-template-columns: repeat(3, 1fr);
  }

  &[data-columns="4"] {
    grid-template-columns: repeat(4, 1fr);
  }
}
