.records {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;

  .recordsTitle {
    text-transform: uppercase;
    font-size: 32px;
  }

  .recordsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 24px;
  }

  .recordsBack {
    user-select: none;
    font-size: 20px;
    text-transform: uppercase;
  }
}
